.country__div {
  margin: auto;
}

.informacion:hover {
  border: 1px solid;
  border-top: none;
  border-radius: 0 0 4px 4px;
  user-select: none;
}

.information {
  font-size: 14px;
  user-select: none;
  width: 280px;
  height: 180px;
  margin-top: -11px;
  padding: 10px;
  box-sizing: border-box;
}

.imgBandera {
  width: 280px;
  height: 180px;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5px 5px 0px 0px;
}

.country__name {
  font-size: 18px;
}
.country__p {
  font-weight: bold;
}

.span {
  margin-left: 10px;
  font-weight: normal;
}

.country {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
