.a {
  text-decoration: none;
  font-size: 14px;
  outline: none;
}
.head {
  box-shadow: 0 0 6px rgb(0, 0, 0, 0.7);
  border: none;
  padding: 6px;
  display: flex;
}

.isA {
  color: white;
}

.isB {
  color: rgb(0, 0, 0);
}

.head__dark {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 400px) {
  .head__where {
    font-size: 15px;
  }
}
